body {
  background-color: #0d0d0d;
  font-family: "Orbitron", sans-serif;
}

.container {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.display {
  grid-column: 1 / -1;
  background-color: #b9bfb0;
  padding: 16px;
  font-size: 36px;
  height: 75%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  border-radius: 8px 8px 0px 0px;
}

.container > button {
  cursor: pointer;
  font-size: 32px;
  color: #3b977b;
  background-color: #2f2e2e;
  height: 100%;
}

.btn {
  font-family: "Orbitron", sans-serif;
}

.container > button:hover {
  background-color: #585656;
}

.clear {
  grid-column: 1 / -1;
}
