body {
  background-color: #0d0d0d;
  font-family: "Orbitron", sans-serif;
}

.container {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.display {
  grid-column: 1 / -1;
  background-color: #bfbfbf;
  padding: 16px;
  font-size: 36px;
  height: 75%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 8px 8px 0px 0px;
}

.display > .previousValue {
  color: #585656;
  font-size: 32px;
}

.container > button {
  cursor: pointer;
  font-size: 32px;
  color: #3b977b;
  background-color: #10403b;
  height: 100%;
}

.btn {
  font-family: "Orbitron", sans-serif;
}

.container > button:hover {
  background-color: #585656;
}

.btn-equals {
  grid-column: 1 / -1;
}

button.btn.btn-operation {
  background-color: #127369;
  color: #10403b;
}

button.btn.btn-equals {
  background-color: #4c5958;
}

button.btn.btn-operation:hover,
button.btn.btn-equals:hover {
  background-color: #585656;
}
